<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Authorization, X-Requested-With" />
				<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS, PUT, DELETE" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="CORS Preflight Anonymous Authentication" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
					</conditions>
					<action type="CustomResponse" statusCode="200" statusReason="Preflight" statusDescription="Preflight" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
